## Environment files
/apps/microservice-social-graph/src/main/resources/.env
/apps/microservice-user-profile/src/main/resources/.env

## Test files
/apps/microservice-social-graph/src/main/java/com/dmx/server/Test
/apps/microservice-user-profile/src/main/java/com/dmx/server/Test

## Maven build directories
/apps/microservice-social-graph/target/
/apps/microservice-user-profile/target/
/libs/bus/target/
/libs/persistence/target/
/libs/shared-kernel/target/

## Build output
/target/

## IDE files
.idea/
*.iml

